* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;

}

#square{
    border: 2px solid rgba(0, 0, 0, 0.688);
    box-shadow: 2px 2px 12px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:black;
;
    aspect-ratio: 1 / 1;
    text-align: center;
    cursor:crosshair;
}


.even{
    background-color: blue;
}

.odd{
    background-color: red;
}

#level{
    
    
    background-color: black;
    color: white;
    border: 5px solid orange;
    cursor: pointer;
}

