* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;

}

#square{
    border: 2px solid rgba(0, 0, 0, 0.688);
    background-color: orangered;
    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:black;
    width: calc(100% / 8);
    aspect-ratio: 1 / 1;
    text-align: center;
    
}

.debug {
    border: 1px solid red;
}

.even{
    background-color: blue;
}

.odd{
    background-color: red;
}

